@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "departure-mono";
  src: url("fonts/DepartureMono-Regular.otf") format("opentype"),
    url("fonts/DepartureMono-Regular.woff2") format("woff2"),
    url("fonts/DepartureMono-Regular.woff") format("woff");
}

:root {
  --background: #ffffff;
  --foreground: #19191c;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blob1 {
  width: 320px;
  height: 330px;
  border-radius: 100%;
  background: radial-gradient(
      ellipse at 50% 50%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(ellipse at 70% 60%, #c3e060 0%, rgba(195, 224, 96, 0) 90%),
    radial-gradient(ellipse at 30% 30%, #c3e060 0%, rgba(195, 224, 96, 0) 60%),
    radial-gradient(
      ellipse at bottom left,
      #00a3cb 20%,
      rgba(0, 163, 203, 0) 70%
    ),
    linear-gradient(
      135deg,
      rgba(18, 46, 119, 0) 0%,
      rgba(18, 46, 119, 0) 75%,
      #122e77 100%
    ),
    linear-gradient(
      to right,
      #625793 0%,
      #d55d64 50%,
      #e49129 65%,
      #c0671c 100%
    );
  background-blend-mode: screen, luminosity, saturation, darken, color-dodge,
    color;
  filter: blur(40px);
  /* animation: blob1 15s infinite ease-in-out; */
  /* position: absolute; */
  top: calc(50% - 275px);
  left: calc(50% - 160px);
}

@media (min-width: 768px) {
  .blob1 {
    width: 540px;
    height: 540px;
    top: calc(50% - 270px); /* Adjusted for 540px */
    left: calc(50% - 270px);
    filter: blur(60px);
  }
}

.rainbow {
  background: linear-gradient(
    124deg,
    #e95c5c,
    #ea826a,
    #f4d46c,
    #ecee7b,
    #87c593,
    #86dde2,
    #7870df,
    #ec8df5,
    #d17db5
  );
  background-clip: text;
  background-size: 400% 400%;
  background-repeat: repeat;
  animation: rainbow 10s ease-in-out infinite;
}

html {
  cursor: url("assets/cursor_medium.png"), auto;
}

button {
  cursor: url("assets/point_cursor.png"), auto;
}

button:disabled {
  cursor: url("/imgs/cross_cursor.png"), auto;
}

.link {
  cursor: url("assets/point_cursor.png"), auto;
}

a {
  cursor: url("assets/point_cursor.png"), auto;
}

.repeatBG {
  mix-blend-mode: multiply;
  background-image: url("assets/noise.svg");
  background-repeat: repeat;
  filter: grayscale();
}

@keyframes blob1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
